@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;

.light{
  @apply bg-white text-black;

}

.dark {
  @apply bg-gray-900 text-white;
}


@layer components {
  .btn {
    @apply px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600;
  }


  .dark .btn {
    @apply bg-blue-700 hover:bg-blue-800;
  }
  
  .header {
    @apply fixed top-0 left-0 w-full bg-white h-16 ;
  }

  .dark .header {
    background-color: #2a3742;
    color: white;
  }

  .header-div {
    @apply max-w-screen-xl w-full flex justify-between items-center h-full px-4;
  }

}

@layer utilities {
  .text-primary {
    @apply text-blue-500;
  }
  .dark .text-primary {
    @apply text-blue-300;
  }
}

@layer base {
  html {
    @apply m-0 p-0;
  }

  body {
    @apply bg-gray-100 text-gray-900 m-0 p-0;
  }

  .dark body {
    background-color: #212e37;
  }

  h1 {
    @apply text-2xl font-bold;
  
  }

  .dark h1 {
    @apply text-white;
  }

}
